@import "../../styles/variables.scss";

.container {
  display: flex;
  height: 100vh;
  background-color: $background-color;
}

.leftPane,
.rightPane {
  flex: 1;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftPane {
  background-color: $background-color;
  flex-direction: column;
}

.icon {
  font-size: $font-size-xxlarge;
  color: white;
  margin-bottom: 20px;
}

.companyName {
  font-family: $font-family-heading;
  color: white;
  font-size: $font-size-xlarge;
  margin-bottom: 10px;
}

.slogan {
  font-family: $font-family-heading;
  color: white;
  font-size: $font-size-large;
}

.rightPane {
  background-color: white;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.button {
  padding: 10px 20px;
  font-size: $font-size-large;
  background-color: $background-color;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($background-color, 15%);
    transform: scale(1.05);
  }
}
