@import "../../styles/variables.scss";

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: $background-color;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  box-sizing: border-box;
}

h2 {
  color: white;
  font-family: $font-family-heading;
  text-align: center;
}

.inputContainer,
.passwordContainer {
  width: calc(100% - 20px);
  margin: 0 auto;

  input {
    width: 100%;
    padding: 10px;
    border: 1px solid $border-color;
    border-radius: 5px;
    font-size: $font-size-medium;
    box-sizing: border-box;

    &:focus {
      outline: none;
      border-color: $primary-color;
    }
  }

  .error {
    color: $error-color;
    background-color: white;
    font-size: $font-size-small;
    margin-top: -10px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 5px;
  }
}

.eyeButton {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: $font-size-large;
  color: $text-color;
  width: 40px;
  padding: 0;

  &:hover {
    color: darken($text-color, 20%);
  }

  &:focus {
    outline: none;
  }
}

.submitButton,
.backButton {
  padding: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: $font-size-large;
  transition: background-color 0.3s ease;
  width: calc(100% - 20px);

  &:hover {
    transform: scale(1.05);
  }
}

.submitButton {
  background-color: $warning-color;

  &:hover {
    background-color: darken($warning-color, 15%);
  }
}

.backButton {
  background-color: #ccc;

  &:hover {
    background-color: #f0eeee;
  }
}

.error {
  color: white;
  background-color: $warning-color;
  padding: 10px;
  border-radius: 4px;
  margin-top: 1rem;
  font-size: $font-size-large;
}
