@import "../../styles/variables.scss";
.passwordContainer {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.passwordInput {
  padding: 10px;
  border: 1px solid $border-color;
  border-radius: 5px;
  font-size: $font-size-medium;
  width: calc(100% - 50px);
  box-sizing: border-box;

  &:focus {
    outline: none;
    border-color: $primary-color;
  }
}

.eyeButton {
  position: absolute;
  right: 0.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: $font-size-large;
  color: $text-color;
  width: 45px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    color: darken($text-color, 20%);
  }

  &:focus {
    outline: none;
  }
}
